body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../public/img/bg1.gif");
  background-size: cover;
}
.search-container {
  height: 100vh;
  text-align: center;
  vertical-align: middle;
}
.address-search{
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    font-size: 14pt;
    padding: 15px 5px;
    width: 450px;
    color: white;
}